<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FQM 303</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>
  <nav></nav>

  <main>
    <div class="container-tabs background-conferences">
      <div class="row">
        <div class="col s12 tab-section">
          <ul class="tabs">
            <li class="tab col s6"><a class="active tab-section" href="#tab-international">International</a></li>
            <li class="tab col s6"><a class="tab-section" href="#tab-national">National</a></li>
          </ul>
        </div>

        <div id="tab-international" class="col s12 container">
          <ul class="collapsible popout" data-collapsible="expandable">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">record_voice_over</i>
                Oral communications
              </div>
              <div class="collapsible-body padding-collapsible">
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2008
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>J. Godoy-Navajas, M.P. Aguilar-Caballos, A. Gómez-Hens.</b> Synthesis of nile blue- and cresyl violet-doped silica nanoparticles for their potential use as labels. <b>XIIIth International Symposium on Luminescence Spectrometry.</b> September 2008. Bologna (Italy)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2003
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>M.L. Sánchez Martínez, M. P. Aguilar Caballos, A. Gómez Hens.</b> Selective kinetic determination of amikacin by using long-wavelength fluorimetry. <b>XXXIII rd Colloquium Spectroscopicum Internationale.</b> September 2003. Granada (Spain)
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">description</i>
                Posters
              </div>
              <div class="collapsible-body padding-collapsible">
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2013
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>V. Román-Pizarro, J.M. Fernández-Romero, A. Gómez-Hens.</b> Fluorimetric determination of alkaline phosphatase activity in foods using magnetic–gold nanoparticles liposomes hybrids as useful on-flow micro-containers devices. <b>TNT 2013 Trends in Technology.</b> 9 September 2013. Sevilla (Spain)
                    </p>
                    <p>
                      <b>V. Román-Pizarro, J.M. Fernández-Romero, U. Gulzar, A. Gómez-Hens.</b> Determination of thiol traces in water samples based on the interaction between surfactant hybrids magnetic core-shell nanospheres loaded with gold nanoparticles and thiols. <b>TNT 2013 Trends in Technology.</b> 9 September 2013. Sevilla (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2011
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>M. L. Castillo-García, M. P. Aguilar Caballos, A. Gómez Hens.</b> Comparative study of the sensitized luminescence of terbium (III) ions and Tb4O7 nanoparticles as derivatising reagents in ultrafast liquid chromatography. <b>12th International Conference on Method and Application of Fluorescence.</b> 11–14 September 2011. Strasbourg (France)
                    </p>
                    <p>
                      <b>J. Godoy Navajas, M.P. Aguilar Caballos, A. Gómez Hens.</b> Front-surface long-wavelength fluorescence immunoassay for monesindetermination. <b>12th International Conference on Method and Application of Fluorescence.</b> 11–14 September 2011. Strasbourg (France)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2010
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>A. Gómez Hens, M.P. Aguilar Caballos, J.M. Fernández Romero.</b> Recent trends in the use of nanotechnology for the control of tumor markers. <b>NanoSpain 2010.</b> 23–26 March 2010. Málaga (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2008
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>M.P. Aguilar-Caballos, J.M. Fernández-Romero, A. Gómez-Hens.</b> Nanostructures as analytical tools in bioassays. <b>NanoSpain 2008.</b> April 2008. Braga (Portugal)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2007
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>M.L. Sánchez Martínez, M.P. Aguilar Caballos, A. Gómez Hens.</b> New analytical developments of fluorescence polarization. <b>10th Conference on Methods and Applications of Fluorescence (MAF-10).</b> September 2007. Salzburg (Austria)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2006
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>M.L. Sánchez Martínez, M.P. Aguilar Caballos, S.A. Eremin, A. Gómez Hens.</b> Usefulness of dry-reagent technology for long-wavelength polarization immunoassay. <b>XIIth international symposium on luminescence spectrometry: detection techniques in biomedical, environmental and food analysis.</b> July 2006. Lugo (Spain)
                    </p>
                    <p>
                      <b>R.C. Rodríguez Díaz; J.M. Fernández Romero; M.P. Aguilar Caballos, A. Gómez Hens.</b> Determination of fluoroquinolones in milk samples by post-column derivatization liquid chromatography with luminescence detection. <b>XIIth international symposium on luminescence spectrometry: detection techniques in biomedical, environmental and food analysis.</b> July 2006. Lugo (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2003
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>R.C. Rodríguez Díaz; M.P. Aguilar Caballos, A. Gómez Hens.</b> Application of dual-lanthanide sensitised luminescence to the simultaneous determination of ciprofloxacin and tetracycline using dry-reagent technology. <b>Colloquium Spectroscopicum Internationale XXXIII.</b> September 2003. Granada (Spain)
                    </p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div id="tab-national" class="col s12 container">
          <ul class="collapsible popout" data-collapsible="expandable">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">import_contacts</i>
                Invited lectures
              </div>
              <div class="collapsible-body padding-collapsible">
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2010
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>J.M. Fernández Romero.</b> Luminescencia: La luz de abre camino. <b>Ciclo de conferencias y coloquios de la Asociación Cordobesa de Profesores de Enseñanza Media "Luisa Revuelta".</b> February 2010. Córdoba (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2007
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>A. Gómez-Hens.</b> Revisión y actualización de las técnicas inmunoquímicas de análisis. <b>Jornadas Científicas de la Asociación Española de Farmaceúticos Analistas (AEFA).</b> May 2007. Cáceres (Spain)
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">record_voice_over</i>
                Oral communications
              </div>
              <div class="collapsible-body padding-collapsible">
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2013
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>V. Román-Pizarro, J.M. Fernández-Romero, A. Gómez-Hens.</b> Nuevas aportación en nanotecnológicas en el desarrollo de metodologías analíticas agroalimentarias. <b>II Congreso Científico de Investigadores en Formación en Agroalimentaria de la eidA3.</b> 9-10 April 2013. Córdoba (Spain)
                    </p>
                    <p>
                      <b>M.L. Castillo-García , M.P. Aguilar-Caballos, A. Gómez-Hens.</b> Nuevas Nuevas metodologías analíticas rápidas con detección luminiscente en análisis agroalimentario. <b>II Congreso Científico de Investigadores en Formación en Agroalimentaria de la eidA3.</b> 9-10 Abril 2013. Córdoba (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2012
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>J. Godoy Navajas. Nuevas metodologías analíticas en análisis de alimentos y ambiental con uso de nanopartículas. I Congreso Científico de Investigadores en Formación en Agroalimentación de la eidA3 y II Congreso Científico de Investigadores en Formación de la Universidad de Córdoba. 8-9 May 2012. Córdoba (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2011
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>M. Sierra-Rodero, J.M. Fernández-Romero, A. Gómez-Hens.</b> Photometric determination of thioglycolic acid in cosmetics by using a stopped-flow reverse flow-injection system and the formation of gold nanoparticles. <b>III Encuentro sobre Nanociencia y Nanotecnología de investigadores y tecnólogos andaluces.</b> 10–11 February 2011. Córdoba (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2008
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>M.L. Sánchez-Martínez, M.P. Aguilar-Caballos, A. Gómez-Hens.</b> Homogeneous immunoassay for soy protein determination in food samples using gold nanoparticles as labels and light scattering detection. <b>12as Jornadas de Análisis Instrumental.</b> October 2008. Barcelona (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2006
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>M.L. Sánchez Martínez, M. P. Aguilar Caballos, S.A. Eremin, A. Gómez Hens.</b> Long-wavelength fluorescence polarization immunoassay for surfactant determination. <b>XX Reunión Nacional de Espectroscopía-IV Congreso Ibérico de Espectroscopia.</b> September 2006. Ciudad Real (Spain)
                    </p>
                    <p>
                      <b>M.L. Sánchez Martínez, M.P. Aguilar Caballos, S.A. Eremin, A. Gómez Hens.</b> Aplicabilidad analítica de la cromatografía de inmunoafinidad con detección fluorimétrica en análisis ambiental. <b>X Reunión del Grupo Regional Andaluz de la Sociedad Española de Química Analítica. El análisis y la industria alimentaria.</b> June 2006. Cádiz (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2006
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>A. Gómez Hens, M.P. Aguilar Caballos.</b> La cinética en "high throughput screening" para el desarrollo de nuevos fármacos. <b>II Simposium de jovenes investigadores.</b> November 2005. Ciudad Real (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2006
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>A. Gómez Hens, J.M. Fernández Romero.</b> Función de los liposomas en el proceso analítico. <b>IX Reunión del Grupo Regional Andaluz de la Sociedad Española de Química Analítica.</b> September 2004. Sevilla (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2006
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>A.M. Casas-Hernández, M.P. Aguilar Caballos, A. Gómez-Hens.</b> Aplicación de la luminiscencia de tiempo-resuelto a la tecnología de reactivos secos. <b>XII Reunión de la Sociedad Española de Química Analítica.</b> September, 2001. Huelva (Spain)
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">description</i>
                Posters
              </div>
              <div class="collapsible-body padding-collapsible">
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2013
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>M.A. Molina-Delgado, M.P. Aguilar-Caballos, A. Gómez-Hens.</b> Nuevas tendencias en separaciones mediante inmunoafinidad con el uso de nanomateriales. <b>II Congreso Científico de Investigadores en Formación en Agroalimentaria de la eidA3.</b> 9–10 April 2013. Córdoba (Spain)
                    </p>
                    <p>
                      <b>M.A. Molina-Delgado, M.P. Aguilar-Caballos, A. Gómez-Hens.</b> Determination of soy proteins in food samples by dispersive solid-phase immunoextraction and dynamic long-wavelength fluorometry. <b>NanoUCO IV: Encuentro sobre Nanociencia y Nanotecnología de Investigadores y Tecnólogos Andaluces.</b> 9–11 February 2013. Córdoba (Spain)
                    </p>
                    <p>
                      <b>V. Román-Pizarro, J.M. Fernández-Romero, A. Gómez-Hens.</b> Determinación fluorimétrica de la actividad de la fosfatasa alcalina en alimentos utilizando un sistema en flujo y nanopartículas magnéticas de oro encapsuladas en liposomas. <b>NanoUCO IV: Encuentro sobre Nanociencia y Nanotecnología de Investigadores y Tecnólogos Andaluces.</b> 9–11 February 2013. Córdoba (Spain)
                    </p>
                    <p>
                      <b>M.L. Castillo-García, M.P. Aguilar-Caballos, A. Gómez-Hens.</b> Aplicación de nanoparticulas de Tb4O7 para la determinación de lasalocid y salicilato en muestras de alimentos. <b>NanoUCO IV: Encuentro sobre Nanociencia y Nanotecnología de Investigadores y Tecnólogos Andaluces.</b> 9–11 February 2013. Córdoba (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2011
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>V. Román-Pizarro, J.M. Fernández-Romero, A. Gómez-Hens.</b> Preparation, separation and characterization of gold nanoparticle encapsulated liposomes and their potential application as analytical reagents. <b>NanoUCO III: Encuentro sobre Nanociencia y Nanotecnología de Investigadores y Tecnólogos Andaluces.</b> 10–11 February 2011. Córdoba (Spain)
                    </p>
                    <p>
                      <b>A. Andreu-Navarro, J.M. Fernández-Romero, A. Gómez-Hens.</b> Determination of Antioxidant Additives in Foodstuffs by Direct Measurement of Gold Nanoparticle Formation using Resonance Light Scattering Detection. <b>NanoUCO III: Encuentro sobre Nanociencia y Nanotecnología de Investigadores y Tecnólogos Andaluces.</b> 10–11 February 2011. Córdoba (Spain)
                    </p>
                    <p>
                      <b>J. Godoy-Navajas, M.P. Aguilar-Caballos, A. Gómez-Hens.</b> Use of nile blue-doped silica nanoparticles as labels in heterogeneous immunoassays for antibiotic determination. <b>NanoUCO III: Encuentro sobre Nanociencia y Nanotecnología de Investigadores y Tecnólogos Andaluces.</b> 10–11 February 2011, Córdoba (Spain)
                    </p>
                    <p>
                      <b>M.A. Molina-Delgado, M.P. Aguilar-Caballos, A. Gómez-Hens.</b> Usefulness of gold nanoparticles as labels for the determination of gliadins by immunoaffinity chromatography with light scattering detection. <b>NanoUCO III: Encuentro sobre Nanociencia y Nanotecnología de Investigadores y Tecnólogos Andaluces.</b> 10–11 February 2011. Córdoba (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2010
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>A. Gómez Hens, J.M. Fernández Romero, M.P. Aguilar Caballos, A. Andreu-Navarro, J. Godoy Navajas, M. Sierra-Rodero, M.A. Molina Delgado, M.L. Castillo García.</b> Grupo de investigación FQM-303. <b>I Jornadas Internacionales del ceiA3.</b> Córdoba, 26–28 September 2010. Córdoba (Spain)
                    </p>
                    <p>
                      <b>J. Godoy Navajas, M.P. Aguilar Caballos, A. Gómez Hens.</b> Determinación de proteínas de soja mediante fluoroinmunoensayo a larga longitud de onda utilizando nanopartículas de sílice dopadas con azul nilo como marcador. <b>XII Reunión del Grupo Regional Andaluz de la Sociedad Española de Química Analítica.</b> 10–11 June 2010. Córdoba (Spain)
                    </p>
                    <p>
                      <b>J. Godoy Navajas, M.P. Aguilar Caballos, A. Gómez Hens.</b> Determinación fluorimétrica a larga longitud de onda de la actividad antioxidante de muestras de alimentos con azul nilo como reactivo. <b>XII Reunión del Grupo Regional Andaluz de la Sociedad Española de Química Analítica.</b> 10–11 June 2010. Córdoba (Spain)
                    </p>
                    <p>
                      <b>A. Andreu-Navarro, J.M. Fernández Romero, A. Gómez Hens.</b> Determinación directa de flavonoides en zumos de naranja mediante cromatografía de líquidos y detecctión fluorescente a larga longitud de onda. <b>XII Reunión del Grupo Regional Andaluz de la Sociedad Española de Química Analítica.</b> 10–11 June 2010. Córdoba (Spain)
                    </p>
                    <p>
                      <b>M. Sierra-Rodero, J.M. Fernández Romero, A. Gómez Hens.</b> Determinación de compuestos tiólicos mediante formación de nanopartículas de oro. <b>XII Reunión del Grupo Regional Andaluz de la Sociedad Española de Química Analítica.</b> 10–11 June 2010. Córdoba (Spain)
                    </p>
                    <p>
                      <b>M.P. Aguilar Caballos, J.M. Fernández Romero, A. Gómez Hens.</b> Control of tumor markers using nanotechnology. <b>NanoUCO II: Encuentro sobre Nanociencia y Nanotecnología de Investigadores y Tecnólogos de la Universidad de Córdoba.</b> 14 January 2010. Córdoba (Spain)
                    </p>
                    <p>
                      <b>M. Sierra-Rodero, J.M. Fernández Romero, A. Gómez Hens.</b> Kinetic study of the interaction of gold nanoparticle with thiol compounds: determination of n-acetylcysteine using ligth-scattering detection. <b>NanoUCO II: Encuentro sobre Nanociencia y Nanotecnología de Investigadores y Tecnólogos de la Universidad de Córdoba.</b> 14 January 2010. Córdoba (Spain)
                    </p>
                    <p>
                      <b>A. Andreu-Navarro, J.M. Fernández Romero, A. Gómez Hens.</b> Kinetic study of the formation of colloidal gold nanoparticles by gallic acid using stopped-flow mixing devices and ligth scattering detection. <b>NanoUCO II: Encuentro sobre Nanociencia y Nanotecnología de Investigadores y Tecnólogos de la Universidad de Córdoba.</b> 14 January 2010. Córdoba (Spain)
                    </p>
                    <p>
                      <b>J. Godoy Navajas, M.P. Aguilar Caballos, A. Gómez Hens.</b> Long-wavelength homogeneous fluoroimmunoassay for the veterinary antibiotic monesin using nile-blue doped silica nanoparticles. <b>NanoUCO II: Encuentro sobre Nanociencia y Nanotecnología de Investigadores y Tecnólogos de la Universidad de Córdoba.</b> 14 January 2010. Córdoba (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2009
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>J. Godoy-Navajas.</b> Nuevas metodologías en Análisis de alimentos y ambiental con el uso de nanoparticulas. <b>I Congreso Cientifico de Investigadores en formación.</b> October 2009. Córdoba (Spain)
                    </p>
                    <p>
                      <b>J. Godoy-Navajas.</b> Investigación del potencial analítico de nuevos nanomateriales luminiscentes a larga longitud de onda. <b>VII Jornadas Doctorales Andaluzas.</b> June-July 2009. Carmona, Sevilla (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2008
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>J. Godoy-Navajas, M.P. Aguilar-Caballos, A. Gómez-Hens.</b> Long wavelength dye-doped silica nanoparticles aspotential label. <b>NanoUCO I: Encuentro sobre Nanociencia y Nanotecnología de Investigadores y Tecnólogos de la Universidad de Córdoba.</b> December 2008. Córdoba (Spain)
                    </p>
                    <p>
                      <b>H.R. Manzano-Ayala. J.M. Fernández-Romero, A. Gómez-Hens.</b> Stopped-flow kinetic method for the determination of nucleic acid traces in biological samples using long wavelength fluorimetric measurements. <b>12as Jornadas de Análisis Instrumental.</b> October 2008. Barcelona (Spain)
                    </p>
                    <p>
                      <b>J. Godoy-Navajas, M.P. Aguilar-Caballos, A. Gómez-Hens.</b> Development and assessment of new luminescent silica nanoparticles as labels in long-wavelength fluoro immunoassays. <b>12as Jornadas de Análisis Instrumental.</b> October 2008. Barcelona (Spain)
                    </p>
                    <p>
                      <b>V. Sánchez-López, J.M. Fernández-Romero, A. Gómez-Hens.</b> Evaluation of liposome populations using a continuous flow system coupled with sucrose density gradient centrifugation. <b>12as Jornadas de Análisis Instrumental.</b> October 2008. Barcelona (Spain)
                    </p>
                    <p>
                      <b>A. Andreu-Navarro, J.M. Fernández-Romero, A. Gómez-Hens.</b> Chromatographic determination of nine flavonoids using fluorescence resonance energy transfer as post-column derivatization system. <b>12as Jornadas de Análisis Instrumental.</b> October 2008. Barcelona (Spain)
                    </p>
                    <p>
                      <b>M.L. Sánchez-Martínez, M.P. Aguilar-Caballos, A. Gómez-Hens.</b> Homogeneous enzyme fluoroimmunoassay for amikacin determination in water samples using long-wavelength detection. <b>12as Jornadas de Análisis Instrumental.</b> October 2008. Barcelona (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2006
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>R.C. Rodríguez Díaz, M.P. Aguilar Caballos, A. Gómez Hens.</b> Determination of hydroxybenzoic acids and catechins in white wine samples by liquid chromatography with luminescence detection. <b>XX Reunión Nacional de Espectroscopía-IV Congreso Ibérico de Espectroscopía.</b> September 2006. Ciudad Real (Spain)
                    </p>
                    <p>
                      <b>R.C. Rodríguez Díaz, J.M. Fernández Romero, M.P. Aguilar Caballos, A. Gómez Hens.</b> Determinación de flumequina en alimentos mediante separación cromatográfica con derivatización post-columna con terbio(III) y detección luminiscente. <b>X Reunión del Grupo Regional Andaluz de la Sociedad Española de Química Analítica. El análisis y la industria alimentaria.</b> June 2006. Cádiz (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2005
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>M.L. Sánchez Martínez, Mª P. Aguilar Caballos, S.A. Eremin, A. Gómez Hens.</b> Determination of linear alkylbenzenesulfonates in environmental samples by immunoaffinity chromatography using nile blue as label. <b>11as Jornadas de Análisis Instrumental (JAI 2005).</b> November 2005. Barcelona (Spain)
                    </p>
                    <p>
                      <b>R.C. Rodríguez Díaz, F. León Rincon, M.P. Aguilar Caballos, A. Gómez Hens.</b> Determination of phosphates in water samples using ytterbium(III) and dynamic measurements of light scattering intensity at long wavelength. <b>11as Jornadas de Análisis Instrumental (JAI 2005).</b> November 2005. Barcelona (Spain)
                    </p>
                  </div>
                </div>
                <div class="padding-collapsible-conference">
                  <div>
                    <h5>
                      <i class="fa fa-calendar"></i>
                      2001
                    </h5>
                  </div>
                  <div class="padding-content">
                    <p>
                      <b>M.P. Aguilar-Caballos, H. Härmä, T. Lovgren, A. Gómez-Hens.</b> Inmunoensayo de tiempo resuelto en medio homogéneo. <b>XII Reunión de la Sociedad Española de Química Analítica.</b> September 2001. Huelva (Spain)
                    </p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <footer class="page-footer"></footer>


    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="js/bundle.js"></script>

</body>

</html>