<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UFT-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FQM 303</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>
  <nav></nav>

  <main class="background-white">
    <div class="padre">
      <div class="title-ppal">
        <h2>FAST RESPONSE ANALYTICAL PLATFORMS: BIOSENSORS AND MICROFLUIDIC SYSTEMS</h2>
      </div>
      <div class="title-ppal">
        <h4>CHROMATOGRAPHIC AND NON-CHROMATOGRAPHIC QUANTITATIVE SELECTION METHODS</h4>
      </div>
      <div class="title-ppal">
        <h5>Website of FQM-303 Research Group</h5>
      </div>
      
      <div class="about-us">
        <div class="about-us-container">
          <div class="about-us-title">
            <h3 class="title-section">
              About Us
            </h3>
          </div>
          <div class="about-us-description">
            <p>
              Luminescence analysis: Lanthanide-sensitized luminescence, Long wavelength fluorophores, and Fluorescence polarization
            </p>
          </div>
        </div> 
      </div>

      <div class="logo-index">
        <img src="logo-uco.png" />
        <img src="LOGO NIVEL 1 COLOR.jpg" />
      </div>

    </div>

  </main>

  <footer class="page-footer"></footer>


    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="js/bundle.js"></script>

</body>

</html>