<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FQM 303</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>
  <nav></nav>

  <main>
    <div class="container-tabs">
      <div class="row">

        <div class="col s12 tab-section">
          <ul class="tabs">
            <li class="tab col s4"><a class="active tab-section" href="#tab-optical">Optical detection systems</a></li>
            <li class="tab col s4"><a class="tab-section" href="#tab-separation">Separation systems (Liquid Chromatography)</a></li>
            <li class="tab col s4"><a class="tab-section" href="#tab-apparatus">Apparatus and other devices</a></li>
          </ul>
        </div>

        <div id="tab-optical" class="col s12 container">
          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="raman.jpg">
              </div>
              <div class="instrumentation-text-container">
                <span><b>FT-Raman Spectrometer MultiRAM (Bruker)</b>, equipped with a Nd-YAg laser and N2-cooled Ge detector (2015)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="fluorolog.jpg">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Horiba Scientific Fluorolog-3model FL3-22 fully automated spectrofluorometer system</b>, equipped with a double-grating excitation and emission monochromators, T-box sample compartment module, automatic slits and room-temperature R928P detector, with a compatible PC equipped with FluorEssence Software for Windows as control system (2014)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="fluoromax.jpg">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Horiba Scientific Fluoromax-4P fully automated spectrofluorimeter system</b>, equipped with a MicroMax 384 Microwell-Plate Reader, a Fiber-optics adaptor FL-3000/FM4-3000 and with a compatible PC equipped with FluorEssence Software for Windows as control system (2014)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="jasco.jpg">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Jasco FP-2020/2025 Fluorescence detector</b>, equipped with a holographic concave diffraction grating monocromator and a 150 W Xenon lamp (2013)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="fotometro.jpg">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Perkin-Elmer Lambda 25 UV-Vis Scanning double beam spectrometer</b>, equipped with a compatible PC as control system (2012)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="victor.jpg">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Victor 3 V Spectrofluorimeter from Perkin-Elmer</b> equipped with multitechnique microplate multireader with a liquid handling device (2009)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="eclipse.jpg">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Cary Eclipse Spectrofluorimeter from Varian</b> funished with a conventional holder, a microplate reader accesory, a RX2000 stopped-flow mixing module and a PC as control system (2008)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="8100.jpg">
              </div>
              <div class="instrumentation-text-container">
                <span><b>SLM-Aminco Bowman 8100 Spectrofluorimeter</b> with T-optics and Glan-Thompson polarisers (2000)</span>
              </div>
            </div>
          </div>
        </div>

        <div id="tab-separation" class="col s12 container">
          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="purifier.jpg">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Modular GE Healthcare ÄKTApurified liquid chromatograph</b>, equipped with the following detectors and devices: UV-absorption monitor with variable wavelength (UV-900), standard glass pH electrode for pH/conductivity monitoring (UPC-900), selecting valve (INV-907), mixer chamber (M-925), fraction collector (Frac-950), high pressure pump (P-900) and a PC as control device (2013)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="shimadzu.jpg">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Modular Shimadzu liquid chromatograph</b>, equipped with the following detectors and devices: spectrofluorometric detector (RF-20A/20Axs Prominence), UV-VIS detector (SPD-20A/SPD-20AV Prominence), column oven (CTO-10ASvp), autosampler (SIL-30AC Nexera), two UPLC solvent delivery modules (LC-30AD Nexera) and a PC as control device (2013)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="agilent.jpg">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Modular Agilent liquid chromatograph Serie 1200</b>, equipped with the following detectors and devices: Diode array detector (G1315B), Fluorescence detector (G1321A), debubbler (G1322A), quaternary gradient high pressure pump (G1511A), autosampler and sample treatment unit (G1329A), column thermostat (G1316A) and a PC as control device (2008)</span>
              </div>
            </div>
          </div>
        </div>

        <div id="tab-apparatus" class="col s12 container">
          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="benchtop.jpg">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Dry reagents dispenser “Benchtop Isoflow”</b> 4 lines/4 pumps 220 V (2013)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="HVS448.jpg">
              </div>
              <div class="instrumentation-text-container">
                <span><b>High Voltage Power Supplied HVS448-3000</b> Mengel Engineering ± 3000 V, 8 channels, with LabVIEW software (2012)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="http://lorempixel.com/580/250/nature/1">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Microfluidic system</b> EOF kit 9015 y <b>Chipholder fluidic connector</b> FC-4515 (2012)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="http://lorempixel.com/580/250/nature/1">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Universal refrigerated centrifuge MPW-350-r</b> (15000rpm, 1000 µl) (2009)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="http://lorempixel.com/580/250/nature/1">
              </div>
              <div class="instrumentation-text-container">
                <span><b>1100 series high pressure injection valves</b> from Agilent, Rheodyne 5010 injection and Rheodyne 5020 selection valves (2008)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="http://lorempixel.com/580/250/nature/1">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Vortemp 56” LA-S205</b> microtitre plate shaker and incubator (2008)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="http://lorempixel.com/580/250/nature/1">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Atlantis AG021102</b> automatic microplate washing device with 8 channels (2008)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="http://lorempixel.com/580/250/nature/1">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Flexispense 2 MK2</b>, 8 chanel modular microplate reagent dispenser (2008)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="http://lorempixel.com/580/250/nature/1">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Remote lector fiber optic bundler</b>, accesory and conections(Ref. 7910043) Varian (2008)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="http://lorempixel.com/580/250/nature/1">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Minipuls-3 peristaltic pumps</b> from Gilson (2006-2009)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="http://lorempixel.com/580/250/nature/1">
              </div>
              <div class="instrumentation-text-container">
                <span><b>PU-2089 binary gradient high pressure pump</b> from Jasco (2006)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="http://lorempixel.com/580/250/nature/1">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Mini Lipoprep HA746300</b> liposome preparation device (2006)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="http://lorempixel.com/580/250/nature/1">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Stopped-flow modules</b> (Córdoba Branch)</span>
              </div>
            </div>
          </div>

          <div class="card-panel padding-panel">
            <div class="instrumentation-container image">
              <div class="instrumentation-image-container">
                <img class="materialboxed" src="http://lorempixel.com/580/250/nature/1">
              </div>
              <div class="instrumentation-text-container">
                <span><b>Optical fiber adapter</b> for the Spectrofluorimeter Cary Elipse Varian</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
  


  <footer class="page-footer"></footer>


    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="js/bundle.js"></script>
</body>

</html>