<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FQM 303</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="index.html" class="logo-wrapper brand-logo">
        <img src="logo2.png"/>
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Research Group</a></li>
        <li><a href="instrumentation.html">Instrumentation</a></li>
        <li><a href="publications.html">Publications</a></li>
        <li><a href="conferences.html">Conferences</a></li>
        <li class="active"><a href="projects.html">Projects</a></li>
        <li><a href="thesis.html">Thesis</a></li>
        <li><a href="#">Photo Galery</a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Research Group</a></li>
        <li><a href="instrumentation.html">Instrumentation</a></li>
        <li><a href="publications.html">Publications</a></li>
        <li><a href="conferences.html">Conferences</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="thesis.html">Thesis</a></li>
        <li><a href="#">Photo Galery</a></li>
      </ul>

    </div>
  </nav>

  <div class="background-projects">
    <div class="card-panel padding-panel">
      <div class="padding-content">
        <span>
          <b>Project title:</b> Utilización de nuevos nanomateriales para el desarrollo de métodos analíticos de respuesta rápida
        </span>
        <span>
          <b>Funding institution:</b> Ministerio de Ciencia e Innovación
        </span>
        <span>
          <b>Duration:</b> from 01/01/2013 until 31/12/2015
        </span>
        <span>
          <b>Subsidized ammount:</b> 11583 €
        </span>
        <span>
          <b>Main Research:</b> Agustina Gómez Hens
        </span>
        <span>
          <b>Researchers involved:</b> 6
        </span>
      </div>
    </div>

    <div class="card-panel padding-panel">
      <div class="padding-content">
        <span>
          <b>Project title:</b> Métodos rápidos de separación y determinación en análisis agroalimentario
        </span>
        <span>
          <b>Funding institution:</b> Junta de Andalucía
        </span>
        <span>
          <b>Duration:</b> from 03/02/2010 until 02/02/2014
        </span>
        <span>
          <b>Subsidized ammount:</b> 261167.68 €
        </span>
        <span>
          <b>Main Research:</b> Agustina Gómez Hens
        </span>
        <span>
          <b>Researchers involved:</b> 8
        </span>
      </div>
    </div>

    <div class="card-panel padding-panel">
      <div class="padding-content">
        <span>
          <b>Project title:</b> Innovaciones en metodologías analíticas estáticas y dinámicas con el uso de nanomateriales
        </span>
        <span>
          <b>Funding institution:</b> Ministerio de Ciencia e Innovación
        </span>
        <span>
          <b>Duration:</b> from 01/01/2010 until 31/12/2012
        </span>
        <span>
          <b>Subsidized ammount:</b> 123420 €
        </span>
        <span>
          <b>Main Research:</b> Agustina Gómez Hens
        </span>
        <span>
          <b>Researchers involved:</b> 5
        </span>
      </div>
    </div>

    <div class="card-panel padding-panel">
      <div class="padding-content">
        <span>
          <b>Project title:</b> Nuevas metodologías de selección y cuantitativas con detección luminiscente
        </span>
        <span>
          <b>Funding institution:</b> Junta de Andalucía
        </span>
        <span>
          <b>Duration:</b> from 07/03/2007 until 06/03/2010
        </span>
        <span>
          <b>Subsidized ammount:</b> 199544.98 €
        </span>
        <span>
          <b>Main Research:</b> Agustina Gómez Hens
        </span>
        <span>
          <b>Researchers involved:</b> 5
        </span>
      </div>
    </div>

    <div class="card-panel padding-panel">
      <div class="padding-content">
        <span>
          <b>Project title:</b> Nuevas estrategias metodológicas en análisis luminiscente
        </span>
        <span>
          <b>Funding institution:</b> Ministerio de Educación y Ciencia
        </span>
        <span>
          <b>Duration:</b> from 01/01/2006 until 31/12/2009
        </span>
        <span>
          <b>Subsidized ammount:</b> 70000 €
        </span>
        <span>
          <b>Main Research:</b> Agustina Gómez Hens
        </span>
        <span>
          <b>Researchers involved:</b> 5
        </span>
      </div>
    </div>

    <div class="card-panel padding-panel">
      <div class="padding-content">
        <span>
          <b>Project title:</b> Sistema de cromatografía líquida con pretratamiento on-line de muestras mediante microextracción con fase sólida
        </span>
        <span>
          <b>Funding institution:</b> Ministerio de Educación y Ciencia (Fondos FEDER)
        </span>
        <span>
          <b>Subsidized ammount:</b> 105013.99 €
        </span>
        <span>
          <b>Main Research:</b> Agustina Gómez Hens
        </span>
        <span>
          <b>Researchers involved:</b> 5
        </span>
      </div>
    </div>

    <div class="card-panel padding-panel">
      <div class="padding-content">
        <span>
          <b>Project title:</b> Innovaciones en metodologías analíticas cromatográficas y no cromatográficas con detección luminiscente
        </span>
        <span>
          <b>Funding institution:</b> Ministerio de Ciencia y Tecnología
        </span>
        <span>
          <b>Duration:</b> from 15/12/2003 until 14/12/2006
        </span>
        <span>
          <b>Subsidized ammount:</b> 128800 €
        </span>
        <span>
          <b>Main Research:</b> Agustina Gómez Hens
        </span>
        <span>
          <b>Researchers involved:</b> 8
        </span>
      </div>
    </div>

    <div class="card-panel padding-panel">
      <div class="padding-content">
        <span>
          <b>Project title:</b> Automatización total del seguimiento de los parámetros analíticos en tiempo real durante el tiempo de elaboración de vinos para su control y mejora
        </span>
        <span>
          <b>Funding institution:</b> Ministerio de Ciencia y Tecnología
        </span>
        <span>
          <b>Duration:</b> from 07/11/2001 until 07/11/2004
        </span>
        <span>
          <b>Subsidized ammount:</b> 74044.69 €
        </span>
        <span>
          <b>Main Research:</b> Mª Dolores Luque de Castro
        </span>
        <span>
          <b>Researchers involved:</b> 4
        </span>
      </div>
    </div>

    <div class="card-panel padding-panel">
      <div class="padding-content">
        <span>
          <b>Project title:</b> Nuevas tendencias en métodos luminiscentes de selección y cuantitativos cromatográficos y no cromatográficos
        </span>
        <span>
          <b>Funding institution:</b> Ministerio de Educación y Cultura
        </span>
        <span>
          <b>Duration:</b> from 07/12/2000 until 07/12/2003
        </span>
        <span>
          <b>Subsidized ammount:</b> 40388.01 €
        </span>
        <span>
          <b>Main Research:</b> Manuel Silva Rodríguez
        </span>
        <span>
          <b>Researchers involved:</b> 2
        </span>
      </div>
    </div>

    <div class="card-panel padding-panel">
      <div class="padding-content">
        <span>
          <b>Project title:</b> Nuevos métodos de apoyo a la industria joyera basados en tecnologías punta: parque temático de Córdoba
        </span>
        <span>
          <b>Funding institution:</b> Ministerio de Educación y Ciencia (Fondos FEDER)
        </span>
        <span>
          <b>Duration:</b> from 01/01/1999 until 31/12/2001
        </span>
        <span>
          <b>Subsidized ammount:</b> 263694.06 €
        </span>
        <span>
          <b>Main Research:</b> Mª Dolores Luque de Castro
        </span>
        <span>
          <b>Researchers involved:</b> 4
        </span>
      </div>
    </div>

    <div class="card-panel padding-panel">
      <div class="padding-content">
        <span>
          <b>Project title:</b> Desarrollo de métodos no destructivos para el análisis (contraste) en joyería: uso de tecnología laser
        </span>
        <span>
          <b>Funding institution:</b> Ministerio de Ciencia y Tecnología
        </span>
        <span>
          <b>Duration:</b> from 20/11/1998 until 20/11/2001
        </span>
        <span>
          <b>Subsidized ammount:</b> 72361.86 €
        </span>
        <span>
          <b>Main Research:</b> Mª Dolores Luque de Castro
        </span>
        <span>
          <b>Researchers involved:</b> 2
        </span>
      </div>
    </div>

    <div class="card-panel padding-panel">
      <div class="padding-content">
        <span>
          <b>Project title:</b> Nuevas aproximaciones dinámicas para la mejora de las determinaciones analíticas
        </span>
        <span>
          <b>Funding institution:</b> Ministerio de Educación y Ciencia
        </span>
        <span>
          <b>Duration:</b> from 01/10/1997 until 01/10/2002
        </span>
        <span>
          <b>Subsidized ammount:</b> 270455.45 €
        </span>
        <span>
          <b>Main Research:</b> Mª Dolores Luque de Castro
        </span>
        <span>
          <b>Researchers involved:</b> 10
        </span>
      </div>
    </div>
  </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l7 s12">
            <h5>Research Group FQM 303</h5>
            <p>Department of Analytical Chemistry</p>
            <h6>Group Leader</h6>
            <blockquote class="footer-description">Agustina Gómez Hens</blockquote>
          </div>
          <div class="col l5 s12">
            <h5>Contact</h5>
            <blockquote class="footer-description">
              <ul>
                <li>Marie Curie building (annex)</li>
                <li>Campus of Rabanales</li>
                <li>Madrid-Cádiz Road, Km. 396-A</li>
                <li>14071 Córdoba</li>
                <li>Phone: 957 21 86 45</li>
                <li>Fax: 957 21 86 44</li>
              </ul>
          </div>
        </div>
      </div>
    </footer>


    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="js/bundle.js"></script>

</body>

</html>