<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UFT-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FQM 303</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>
  <nav></nav>

  <main>
    <div class="container-tabs">
      <div class="row">

        <div class="col s12 tab-section">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="active tab-section" href="#tab-aids">Research Aids</a></li>
            <li class="tab"><a class="tab-section" href="#tab-projects">Research Projects</a></li>
          </ul>
        </div>

        <div id="tab-aids" class="col s12 container">
          <div class="background-projects">

            <div class="card-panel project-panel">
              <div class="card-title title-projects">
                <h5>Innovaciones nanotecnológicas para la calidad y seguridad de alimentos cárnicos y lácteos</h5>
              </div>
              <div class="card-content card-projects">
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Funding Institution">
                    <div class="card-icon">
                      <i class="material-icons">account_balance</i>
                    </div>
                    <div class="card-item">
                      <span>Programa Propio de Fomento de la Investigación. Modalidad 4.1. Ayudas para el desarrollo de proyectos I+D precompetitivos (XXI PP. Modalidad 4.1)</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Duration">
                    <div class="card-icon">
                      <i class="material-icons">date_range</i>
                    </div>
                    <div class="card-item">
                      <span>01/06/2016 to 31/05/2018</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Financial Support">
                    <div class="card-icon">
                      <i class="material-icons">attach_money</i>
                    </div>
                    <div class="card-item">
                      <span>8545 €</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Main Research">
                    <div class="card-icon">
                      <i class="material-icons">person_pin_circle</i>
                    </div>
                    <div class="card-item">
                      <span>Juan Manuel Fernández Romero</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Researchers Involved">
                    <div class="card-icon">
                      <i class="material-icons">people</i>
                    </div>
                    <div class="card-item">
                      <span>8</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="card-panel project-panel">
              <div class="card-title title-projects">
                <h5>Programa Propio de Fomento de la Investigación</h5>
              </div>
              <div class="card-content card-projects">
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Funding Institution">
                    <div class="card-icon">
                      <i class="material-icons">account_balance</i>
                    </div>
                    <div class="card-item">
                      <span> Modalidad 1. Incentivos a los grupos del PAIDI de la UCO</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Duration">
                    <div class="card-icon">
                      <i class="material-icons">date_range</i>
                    </div>
                    <div class="card-item">
                      <span>29/04/2016 to 28/04/2017</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Financial Support">
                    <div class="card-icon">
                      <i class="material-icons">attach_money</i>
                    </div>
                    <div class="card-item">
                      <span>5893.23 €</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Main Research">
                    <div class="card-icon">
                      <i class="material-icons">person_pin_circle</i>
                    </div>
                    <div class="card-item">
                      <span>Agustina Gómez Hens</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Researchers Involved">
                    <div class="card-icon">
                      <i class="material-icons">people</i>
                    </div>
                    <div class="card-item">
                      <span>8</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div id="tab-projects" class="col s12 container">

          <div class="background-projects">

            <div class="card-panel project-panel">
              <div class="card-title title-projects">
                <h5>Utilización de nuevos nanomateriales para el desarrollo de métodos analíticos de respuesta rápida</h5>
              </div>
              <div class="card-content card-projects">
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Funding Institution">
                    <div class="card-icon">
                      <i class="material-icons">account_balance</i>
                    </div>
                    <div class="card-item">
                      <span>Ministerio de Ciencia e Innovación (CTQ-2012-32941/BQU)</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Duration">
                    <div class="card-icon">
                      <i class="material-icons">date_range</i>
                    </div>
                    <div class="card-item">
                      <span>01/01/2013 to 31/12/2015</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Financial Support">
                    <div class="card-icon">
                      <i class="material-icons">attach_money</i>
                    </div>
                    <div class="card-item">
                      <span>115830.00 €</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Main Research">
                    <div class="card-icon">
                      <i class="material-icons">person_pin_circle</i>
                    </div>
                    <div class="card-item">
                      <span>Agustina Gómez Hens</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Researchers Involved">
                    <div class="card-icon">
                      <i class="material-icons">people</i>
                    </div>
                    <div class="card-item">
                      <span>6</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
              
            <div class="card-panel project-panel">
              <div class="card-title title-projects">
                <h5>Métodos rápidos de separación y determinación en análisis agroalimentario</h5>
              </div>
              <div class="card-content card-projects">
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Funding Institution">
                    <div class="card-icon">
                      <i class="material-icons">account_balance</i>
                    </div>
                    <div class="card-item">
                      <span>Junta de Andalucía (P09-FQM-4933)</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Duration">
                    <div class="card-icon">
                      <i class="material-icons">date_range</i>
                    </div>
                    <div class="card-item">
                      <span>03/02/2010 to 02/02/2014</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Financial Support">
                    <div class="card-icon">
                      <i class="material-icons">attach_money</i>
                    </div>
                    <div class="card-item">
                      <span>261167.68 €</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Main Research">
                    <div class="card-icon">
                      <i class="material-icons">person_pin_circle</i>
                    </div>
                    <div class="card-item">
                      <span>Agustina Gómez Hens</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Researchers Involved">
                    <div class="card-icon">
                      <i class="material-icons">people</i>
                    </div>
                    <div class="card-item">
                      <span>8</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="card-panel project-panel">
              <div class="card-title title-projects">
                <h5>Innovaciones en metodologías analíticas estáticas y dinámicas con el uso de nanomateriales</h5>
              </div>
              <div class="card-content card-projects">
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Funding Institution">
                    <div class="card-icon">
                      <i class="material-icons">account_balance</i>
                    </div>
                    <div class="card-item">
                      <span>Ministerio de Ciencia e Innovación (CTQ-2009-08621-BQU)</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Duration">
                    <div class="card-icon">
                      <i class="material-icons">date_range</i>
                    </div>
                    <div class="card-item">
                      <span>01/01/2010 to 31/12/2012</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Financial Support">
                    <div class="card-icon">
                      <i class="material-icons">attach_money</i>
                    </div>
                    <div class="card-item">
                      <span>123420.00 €</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Main Research">
                    <div class="card-icon">
                      <i class="material-icons">person_pin_circle</i>
                    </div>
                    <div class="card-item">
                      <span>Agustina Gómez Hens</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Researchers Involved">
                    <div class="card-icon">
                      <i class="material-icons">people</i>
                    </div>
                    <div class="card-item">
                      <span>5</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="card-panel project-panel">
              <div class="card-title title-projects">
                <h5>Nuevas metodologías de selección y cuantitativas con detección luminiscente</h5>
              </div>
              <div class="card-content card-projects">
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Funding Institution">
                    <div class="card-icon">
                      <i class="material-icons">account_balance</i>
                    </div>
                    <div class="card-item">
                      <span>Junta de Andalucía (P06-FQM-1356)</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Duration">
                    <div class="card-icon">
                      <i class="material-icons">date_range</i>
                    </div>
                    <div class="card-item">
                      <span>07/03/2007 to 06/03/2010</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Financial Support">
                    <div class="card-icon">
                      <i class="material-icons">attach_money</i>
                    </div>
                    <div class="card-item">
                      <span>199544.98 €</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Main Research">
                    <div class="card-icon">
                      <i class="material-icons">person_pin_circle</i>
                    </div>
                    <div class="card-item">
                      <span>Agustina Gómez Hens</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Researchers Involved">
                    <div class="card-icon">
                      <i class="material-icons">people</i>
                    </div>
                    <div class="card-item">
                      <span>5</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="card-panel project-panel">
              <div class="card-title title-projects">
                <h5>Nuevas estrategias metodológicas en análisis luminiscente</h5>
              </div>
              <div class="card-content card-projects">
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Funding Institution">
                    <div class="card-icon">
                      <i class="material-icons">account_balance</i>
                    </div>
                    <div class="card-item">
                      <span>Ministerio de Educación y Ciencia (CTQ-2006-00623/BQU)</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Duration">
                    <div class="card-icon">
                      <i class="material-icons">date_range</i>
                    </div>
                    <div class="card-item">
                      <span>01/01/2006 to 31/12/2009</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Financial Support">
                    <div class="card-icon">
                      <i class="material-icons">attach_money</i>
                    </div>
                    <div class="card-item">
                      <span>70000.00 €</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Main Research">
                    <div class="card-icon">
                      <i class="material-icons">person_pin_circle</i>
                    </div>
                    <div class="card-item">
                      <span>Agustina Gómez Hens</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Researchers Involved">
                    <div class="card-icon">
                      <i class="material-icons">people</i>
                    </div>
                    <div class="card-item">
                      <span>5</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="card-panel project-panel">
              <div class="card-title title-projects">
                <h5>Sistema de cromatografía líquida con pretratamiento on-line de muestras mediante microextracción con fase sólida</h5>
              </div>
              <div class="card-content card-projects">
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Funding Institution">
                    <div class="card-icon">
                      <i class="material-icons">account_balance</i>
                    </div>
                    <div class="card-item">
                      <span>Ministerio de Educación y Ciencia (Fondos FEDER)</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Duration">
                    <div class="card-icon">
                      <i class="material-icons">date_range</i>
                    </div>
                    <div class="card-item">
                      <span>01/01/2006 to 31/12/2009</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Financial Support">
                    <div class="card-icon">
                      <i class="material-icons">attach_money</i>
                    </div>
                    <div class="card-item">
                      <span>105013.99 €</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Main Research">
                    <div class="card-icon">
                      <i class="material-icons">person_pin_circle</i>
                    </div>
                    <div class="card-item">
                      <span>Agustina Gómez Hens</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Researchers Involved">
                    <div class="card-icon">
                      <i class="material-icons">people</i>
                    </div>
                    <div class="card-item">
                      <span>5</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="card-panel project-panel">
              <div class="card-title title-projects">
                <h5>Innovaciones en metodologías analíticas cromatográficas y no cromatográficas con detección luminiscente</h5>
              </div>
              <div class="card-content card-projects">
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Funding Institution">
                    <div class="card-icon">
                      <i class="material-icons">account_balance</i>
                    </div>
                    <div class="card-item">
                      <span>Ministerio de Ciencia y Tecnología</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Duration">
                    <div class="card-icon">
                      <i class="material-icons">date_range</i>
                    </div>
                    <div class="card-item">
                      <span>15/12/2003 to 14/12/2006</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Financial Support">
                    <div class="card-icon">
                      <i class="material-icons">attach_money</i>
                    </div>
                    <div class="card-item">
                      <span>128800.00 €</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Main Research">
                    <div class="card-icon">
                      <i class="material-icons">person_pin_circle</i>
                    </div>
                    <div class="card-item">
                      <span>Agustina Gómez Hens</span>
                    </div>
                  </a>
                </div>
                <div class="card-description">
                  <a class="tooltip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Researchers Involved">
                    <div class="card-icon">
                      <i class="material-icons">people</i>
                    </div>
                    <div class="card-item">
                      <span>8</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </main>
  

  <footer class="page-footer"></footer>


    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="js/bundle.js"></script>

</body>

</html>