<div class="container">
  <div class="row">
    <div class="col l7 s12">
      <h5>Research Group FQM 303</h5>
      <p>Department of Analytical Chemistry</p>
      <h6>Group Leader</h6>
      <blockquote class="footer-description">Agustina Gómez Hens</blockquote>
    </div>
    <div class="col l5 s12">
      <h5>Contact</h5>
      <blockquote class="footer-description">
        <ul>
          <li>Marie Curie building (annex)</li>
          <li>Campus of Rabanales</li>
          <li>Madrid-Cádiz Road, Km. 396-A</li>
          <li>14071 Córdoba</li>
          <li>Phone: 957 21 86 45</li>
          <li>Fax: 957 21 86 44</li>
        </ul>
    </div>
  </div>
</div>