<div class="container">
  <div class="row">
    <div class="col l7 s12">
      <h5>FQM-303 Research Group</h5>
      <p>Department of Analytical Chemistry</p>
      <h6>Group Leader</h6>
      <blockquote class="footer-description">
        <ul>
          <li>Juan Manuel Fernández Romero</li>
          <li>
            <i class="material-icons">
              email
            </i>
            <a class="footer-text" href="mailto:qa1feroj@uco.es" target="_blank">
              qa1feroj@uco.es
            </a>
          </li>
        </ul>
      </blockquote>
    </div>
    <div class="col l5 s12">
      <h5>Contact</h5>
      <blockquote class="footer-description">
        <div>
          <div>
            <i class="material-icons">
              location_on
            </i>
          </div>
          
          <div class="footer-text">
            <ul>
              <li>Marie Curie building (annex)</li>
              <li>Campus of Rabanales</li>
              <li>Madrid-Cádiz Road, Km. 396-A</li>
              <li>14071 Córdoba</li>
            </ul>
          </div>
        </div>

        <div>
          <div>
            <i class="material-icons">
              phone
            </i>
          </div>

          <div class="footer-text">
            <a href="tel:+34957218645">
              957 21 86 45
            </a>
          </div>
        </div>

        <div>
          <div>
            <i class="material-icons">
              email
            </i>
          </div>

          <div class="footer-text">
            <a href="mailto:fqm303@uco.es" target="_blank">fqm303@uco.es</a>
          </div>           
        </div>      
      </blockquote>  
    </div>
  </div>
</div>