<div class="nav-wrapper">
  <a href="index.html" class="logo-wrapper brand-logo">
    <img src="logo2.png"/>
  </a>
  <a href="#" data-activates="mobile-demo" class="button-collapse">
    <i class="material-icons">menu</i>
  </a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="research-group.html">Research Group</a></li>
    <li><a href="instrumentation.html">Instrumentation</a></li>
    <li><a href="publications.html">Publications</a></li>
    <li><a href="conferences.html">Conferences</a></li>
    <li><a href="projects.html">Projects</a></li>
    <li><a href="thesis.html">Thesis</a></li>
    <li><a href="#">Photo Galery</a></li>
  </ul>

  <ul class="side-nav" id="mobile-demo">
    <li><a href="research-group.html">Research Group</a></li>
    <li><a href="instrumentation.html">Instrumentation</a></li>
    <li><a href="publications.html">Publications</a></li>
    <li><a href="conferences.html">Conferences</a></li>
    <li><a href="projects.html">Projects</a></li>
    <li><a href="thesis.html">Thesis</a></li>
    <li><a href="#">Photo Galery</a></li>
  </ul>
</div>