html {
	overflow-x: hidden;
}

body {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: -webkit-calc(100vh - 250px);
	min-height: -moz-calc(100vh - 250px);
	min-height: -ms-calc(100vh - 250px);
	min-height: calc(100vh - 250px);
}

main {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background-color: #eeeeee;
	background: url('../img/background.jpg') left top;
	background-size: 200px;
}

footer {
	height: 250px;
	background-color: #333333 !important;
	position: absolute;
	width: 100%;
	margin-top: 0 !important;
}

.footer-description {
	border-left:5px solid #34b5aa !important;
}

footer h5 {
	color: #34b5aa;
}

footer h6, footer p {
	color: #e8e8e7;
}

footer blockquote, footer ul {
	color: #f6f5f5;
}

nav {
	background-color: #34b5aa !important;
}

.nav-wrapper {
	background-color: #34b5aa;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
	-ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
	-o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
}

.logo-wrapper img {
	height: 70px;
} 

.nav-wrapper i {
	padding-left: 20px;
}


	/** INDEX **/

main.background-white {
	background: #ffffff;
}

.padre {
	background: url('../img/background.jpg') center center;

	color: #444;
}

.title-ppal {
	margin: 0 auto;
	width: 80% !important;
	padding-top: 20px;
	padding-bottom: 20px;
}

.title-ppal h2 {
	text-align: center;
	line-height: 130%;
}

.research-lines {
	margin-top: 75px;
	margin-bottom: 75px;
	text-align: justify;
}

.clase-borde {
	border: none !important;
}

.title-section {
	color:#ecbe14;
	padding-top: 20px;
	padding-bottom: 20 px;
}


	/** RESEARCH GROUP **/

.separator {
	margin-top: 50px;
	text-align: center;
}

.section-title {
	font-size: 50px;
	padding: 50px 10px 10px 10px;
}

.subsection-title {
	font-size: 30px;
	padding: 50px 10px 10px 10px;
}

.group-card {
	width: $wrapper / 5 + px;
	display: inline-block;
	padding: 0;
	margin: 20px;
	vertical-align: top;
	display: inline-block;
	position: relative;
	overflow: hidden;

	.card-image {
		width: $wrapper / 5 + px;
		height: $wrapper / 5 + px;

		img {
			width: inherit;
			height: inherit;
		 	object-fit: cover;
		}
	}

	.card-content {
	
		.card-title {
			line-height: 120%;
		}

		.card-paragraph {
			margin-top: 20px;
		}
	}
}


	/** TABS **/

.tab-section {
	background-color: #34b5aa;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.tab-section ul {
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
	-ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
	-o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
}

.tabs .tab a {
	color: #ffffff !important;
	text-transform: none !important;
}

.tabs .tab a:hover {
	background-color: rgb(47, 163, 153) !important;
}

.tabs .indicator {
	background-color: #ecbe14;
	height: 3px;
}

#tab-optical, #tab-separation, #tab-apparatus, #tab-articles, #tab-books, #tab-patents, #tab-PhD, #tab-master, #tab-undergraduate, #tab-international, #tab-national {
	padding: 50px;
}

.container-tabs .container {
	max-width: 100%;
}


	/** INSTRUMENTATION **/

.row {
	margin-bottom: 0 !important;
}

h5 i {
	margin-right: 15px;
	color: #34b5aa;
}

.date-title {
	padding: 5px 20px 5px 20px;
}

.instrumentation-container.image {
	position: relative;
	margin: 0;
}

.instrumentation-container.image .instrumentation-image-container {
	width: 90px;
	height: 90px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.instrumentation-container.image .instrumentation-text-container {
	display: inline-block;
	vertical-align: middle;
}

.instrumentation-container.image .instrumentation-image-container {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 90px;
	height: 90px;
	@include prefix(border-radius, 50%, webkit ms moz o);
	overflow: hidden;
	background-color: white;
}

.instrumentation-container.image .instrumentation-image-container .materialboxed {
	height: 90px;
}

.instrumentation-container.image .instrumentation-image-container img {
	// width: 90px;
	// height: 90px;
	// border-radius: 50%;
	// cursor: pointer;
	position: absolute;
	height: 100%;
	// max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
	@include prefix(transform, translate(-50%, -50%) !important, webkit ms moz o);
}

.instrumentation-container.image .instrumentation-image-container .materialboxed {
	@include prefix(transition, none !important, webkit moz ms o)
}

.instrumentation-container.image .instrumentation-image-container .materialboxed:hover {
	will-change: initial !important;
}

.instrumentation-container.image .instrumentation-image-container img.active {
	border-radius: 0;
	width: 100%;
}

.instrumentation-container.image .instrumentation-text-container {
	width: calc(100% - 140px);
	width: -webkit-calc(100% - 140px);
	width: -moz-calc(100% - 140px);
	width: -ms-calc(100% - 140px);
	width: -o-calc(100% - 140px);
	padding: 20px 0;
	border-bottom: none;
}

.instrumentation-container .instrumentation-text-container p, 
.instrumentation-container .instrumentation-text-container span {
	padding: 0;
	margin: 0;
}


	/** CARDS INSTRUMENTATION **/

.ellipsis-short {
	text-align: justify;
	height: 88px;
}

.card .card-action {
	text-align: right;
}

.card .card-action a {
	margin-right: 0;
}

.modal .max-width {
	max-width: 100%;
	width: 100%;
}


	/** PUBLICATIONS **/

.padding-content p {
	padding: 5px 50px;
}

.padding-content span {
	padding: 0 50px;
	display: block;
}

#tab-books .padding-content{
	margin: 1em 0;
	padding: 5px 0;
}

#tab-patents .padding-content {
	margin: 1em 0;
	padding: 5px 0;
}

.publication-container {
	margin: 0 50px;
}

.publication-container .publication-text-container {
	width: 100%;
	padding: 20px 10px;
	border-bottom: 1px solid #ccc;
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.publication-container:last-child .publication-text-container {
	border-bottom: none;
}

.publication-container .publication-text-container p, 
.publication-container .publication-text-container span {
	padding: 0;
	margin: 0;
}


	/** CONFERENCES **/

.collapsible-header i {
	color: #34b5aa;
}

.padding-collapsible {
	padding: 20px;
	background-color: white;
}

.padding-collapsible-conference {
	padding: 20px;
	border-bottom: 1px solid #ccc;
}

.padding-collapsible-conference:last-child {
	border-bottom: none;
}


	/** PROJECTS **/

.background-projects {
	padding: 70px;
}

.project-panel {
	width: 40%;
	height: 375px;
	display: inline-block;
	padding: 0;
	margin: 40px;
	vertical-align: top;
	text-align: center;
}

.title-projects {
	margin: 25px;
}

.card-projects {
	margin: 25px;
	text-align: justify;
}

.card-description {
	padding: 5px;
	width: 100%;
}

.card-description a {
	color: black;
}

.tooltip {
	cursor: pointer;
}

.card-icon {
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
}

.card-icon i {
	color: #34b5aa;
}

.card-item {
	display: inline-block;
	vertical-align: middle;
}


	/** THESIS **/

#tab-PhD .padding-content {
	padding: 5px 0;
}

#tab-master .padding-content {
	padding: 5px 0;
}

#tab-undergraduate .padding-content {
	padding: 5px 0;
}

.thesis-container {
	margin: 0 50px;
}

.thesis-container .thesis-text-container {
	width: 100%;
	padding: 20px 10px;
	border-bottom: 1px solid #ccc;
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.thesis-container:last-child .thesis-text-container {
	border-bottom: none;
}

.thesis-container .thesis-text-container span {
	padding: 0;
	margin: 0;
}