@charset 'UTF-8';

$wrapper:               1280;
$wrapperMobile:         996;
$wrapperTablet:         650;
$wrapperPhone:          480;



@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

@mixin respond($media) {
    @if ( $media == phones ) or ( $media == phone ) {
        @media only screen and ( max-width: $wrapperPhone + px ) { // Como máximo 480px
            @content;
        }
    }
    @else if ( $media == tablets ) or ( $media == tablet ) {
        @media only screen and ( max-width: $wrapperTablet + px ) { // Como máximo  600px
            @content;
        }
    }
    @if ( $media == mobile ) {
        @media only screen and ( max-width: $wrapperMobile + px ) { // Como máximo  960px
            @content;
        }
    }
    @else if $media == desktop {
        @media only screen and ( max-width: $wrapper + px ) { // Como máximo  1280px
            @content;
        }
    }
    @else if $media == max {
        @media only screen and ( min-width: $wrapper + 1 + px ) { // Como mínimo  1281px
            @content;
        }
    }
}


html {
	overflow-x: hidden;
}

body {
	@include prefix(display, flex, webkit moz ms o);
	@include prefix(flex-direction, column, webkit moz ms o);
	@include prefix(min-height, calc(100vh - 250px), webkit moz ms o);
}

main {
	@include prefix(box-flex, 1, webkit moz ms o);
	@include prefix(flex, 1, webkit moz ms o);
	background-color: #eeeeee;
	background: url('../img/background.jpg') left top;
	background-size: 200px;
}

footer {
	height: 250px;
	background-color: #333333 !important;
	position: absolute;
	width: 100%;
	margin-top: 0 !important;

	@include respond(mobile) {
		height: auto;
	}
}

.footer-description {
	border-left:5px solid #34b5aa !important;
}

footer h5 {
	color: #34b5aa;
}

footer h6, footer p {
	color: #e8e8e7;
}

footer blockquote, footer ul {
	color: #f6f5f5;
}

nav {
	background-color: #34b5aa !important;

	@include respond(mobile) {
		height: 64px;
		line-height: 64px;
	}

	.button-collapse i {
		@include respond(mobile) {
			height: 64px;
			line-height: 64px;
		}
	}
}

.nav-wrapper {
	background-color: #34b5aa;
	@include prefix(box-shadow, 0 3px 5px rgba(0, 0, 0, 0.16), webkit moz ms o);
}

.logo-wrapper img {
	height: 70px;
}

.nav-wrapper i {
	padding-left: 20px;
}


	/** INDEX **/

main.background-white {
	background: #ffffff;
}

.padre {
	background: url('../img/background.jpg') center center;
	color: #444;
}

.title-ppal {
	margin: 0 auto;
	width: 80% !important;
	padding-top: 20px;
	padding-bottom: 20px;
}

.title-ppal h2 {
	text-align: center;
	line-height: 130%;

	@include respond(mobile) {
		line-height: 36px;
		font-size: 36px;
	}

	@include respond(phone) {
		line-height: 26px;
		font-size: 26px;
	}
}

.research-lines {
	margin-top: 75px;
	margin-bottom: 75px;

	@include respond(mobile) {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

.clase-borde {
	border: none !important;
}

.title-section {
	color:#ecbe14;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}


	/** RESEARCH GROUP **/

.separator {
	margin-top: 50px;
	text-align: center;
}

.section-title {
	font-size: 50px;
	padding: 50px 10px 10px 10px;

	@include respond(tablet) {
		padding: 10px;
		font-size: 36px;
		line-height: 36px;
	}
}

.group-card {
	width: $wrapper / 5 + px;
	display: inline-block;
	padding: 0;
	margin: 20px;
	vertical-align: top;
	position: relative;
	overflow: hidden;

	@include respond(tablet) {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.card-image {
		width: $wrapper / 5 + px;
		height: $wrapper / 5 + px;

		.image-background {
			width: inherit;
			height: inherit;
			background-repeat: no-repeat;
		 	background-size: cover;
		 	background-position: 50% 50%;
		}
	}

	.card-content {

		.card-title {
			line-height: 120%;
		}

		.card-paragraph {
			margin-top: 20px;
		}
	}
}

.research .card-content {
	@include prefix(display, flex, webkit moz ms o);
	height: 202px;
	@include prefix(flex-flow, column wrap, webkit moz ms o);
	@include prefix(justify-content, center, webkit moz ms o);
}


	/** TABS **/

.tab-section {
	background-color: #34b5aa;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.tab-section ul {
	@include prefix(box-shadow, 0 3px 5px rgba(0, 0, 0, 0.16), webkit moz ms o);
}

.tabs .tab a {
	color: #ffffff !important;
	text-transform: none !important;
}

.tabs .tab a:hover {
	background-color: rgb(47, 163, 153) !important;
}

.tabs .indicator {
	background-color: #ecbe14;
	height: 3px;
}

#tab-optical, #tab-separation, #tab-apparatus, #tab-articles, #tab-books, #tab-patents, #tab-PhD, #tab-master, #tab-undergraduate, #tab-international, #tab-national, #tab-permanent, #tab-phd, #tab-master, #tab-undergraduate, #tab-foreign {
	padding: 50px;

	@include respond(mobile) {
		padding: 0 0.75rem;
	}
}

.container-tabs .container {
	max-width: 100%;
}


	/** INSTRUMENTATION **/

.row {
	margin-bottom: 0 !important;
}

h5 i {
	margin-right: 15px;
	color: #34b5aa;
}

.date-title {
	padding: 5px 20px 5px 20px;
}

.instrumentation-container.image {
	position: relative;
	margin: 0;
}

.instrumentation-container.image .instrumentation-image-container {
	width: 90px;
	height: 90px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: top;
	height: 100%;

	@include respond(tablet) {
		width: 60px !important;
		height: 60px !important;
	}
}

.instrumentation-container.image .instrumentation-text-container {
	display: inline-block;
	vertical-align: middle;

	@include respond(tablet) {
		vertical-align: top;
	}
}

.instrumentation-container.image .instrumentation-image-container {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 90px;
	height: 90px;
	@include prefix(border-radius, 50%, webkit ms moz o);
	overflow: hidden;
	background-color: white;

	@include respond(tablet) {
		vertical-align: top;
	}
}

.instrumentation-container.image .instrumentation-image-container .materialboxed {
	height: 90px;
}

.instrumentation-container.image .instrumentation-image-container img {
	position: absolute;
	height: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
	@include prefix(transform, translate(-50%, -50%) !important, webkit ms moz o);
}

.instrumentation-container.image .instrumentation-image-container .materialboxed {
	@include prefix(transition, none !important, webkit moz ms o);

	&.active img {
		@include respond(mobile) {
			width: 100%;
			height: auto;
		}
	}
}

.instrumentation-container.image .instrumentation-image-container .materialboxed:hover {
	will-change: initial !important;
}

.instrumentation-container.image .instrumentation-image-container img.active {
	border-radius: 0;
	width: 100%;
}

.instrumentation-container.image .instrumentation-text-container {
	@include prefix(width, calc(100% - 140px), webkit moz ms o);
	padding: 20px 0;
	border-bottom: none;

	@include respond(tablet) {
		padding: 0;
		@include prefix(width, calc(100% - 80px), webkit moz ms o);
	}
}

.instrumentation-container .instrumentation-text-container p,
.instrumentation-container .instrumentation-text-container span {
	padding: 0;
	margin: 0;
}


	/** CARDS INSTRUMENTATION **/

.ellipsis-short {
	text-align: justify;
	height: 88px;
}

.card .card-action {
	text-align: right;
}

.card .card-action a {
	margin-right: 0;
}

.modal .max-width {
	max-width: 100%;
	width: 100%;
}


	/** PUBLICATIONS **/

.padding-content p {
	padding: 5px 50px;
}

.padding-content span {
	padding: 0 50px;
	display: block;
}

.publication-container {
	margin: 0 50px;

	@include respond(mobile) {
		margin: 0;
	}
}

.publication-container .publication-text-container {
	width: 100%;
	padding: 20px 10px;
	border-bottom: 1px solid #ccc;
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.publication-container:last-child .publication-text-container {
	border-bottom: none;
}

.publication-container .publication-text-container p,
.publication-container .publication-text-container span {
	padding: 0;
	margin: 0;
}


	/** CONFERENCES **/

.collapsible.popout {
	@include respond(mobile) {
		margin: 50px 0;
	}
}

.collapsible-header i {
	color: #34b5aa;
}

.padding-collapsible {
	padding: 20px;
	background-color: white;
}

.padding-collapsible-conference {
	padding: 20px;
	border-bottom: 1px solid #ccc;

	.padding-content p {
		@include respond(mobile) {
			padding: 5px 0;
		}
	}
}

.padding-collapsible-conference:last-child {
	border-bottom: none;
}


	/** PROJECTS **/

.background-projects {
	padding: 70px;
	@include prefix(display, flex, webkit moz ms o);
	@include prefix(flex-flow, row wrap, webkit moz ms o);

	@include respond(mobile) {
		padding: 20px;
	}
}

.project-panel {
	width: 40%;
	height: 400px;
	padding: 0;
	margin: 40px;
	vertical-align: top;
	text-align: center;
	@include prefix(display, inline-flex, webkit moz ms o);
	@include prefix(flex-flow, column, webkit moz ms o);
	@include prefix(justify-content, center, webkit moz ms o);

	@include respond(mobile) {
		margin: 20px;
		height: 445px;
		@include prefix(width, calc(50% - 40px), webkit moz ms o);
	}

	@include respond(tablet) {
		margin: 20px 0;
		width: 100%;
	}
}

.title-projects {
	margin: 0 25px;
}

.card-projects {
	margin: 0 25px;
	text-align: left;
	@include prefix(display, flex, webkit moz ms o);
	@include prefix(flex-flow, column wrap, webkit moz ms o);
	@include prefix(justify-content, center, webkit moz ms o);
	height: 260px;
}

.card-description {
	padding: 5px;
	width: 100%;
}

.card-description a {
	color: black;
	@include prefix(display, flex, webkit moz ms o);
}

.tooltip {
	cursor: pointer;
}

.card-icon {
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
}

.card-icon i {
	color: #34b5aa;
}

.card-item {
	display: inline-block;
	vertical-align: middle;
}


	/** THESIS **/

#tab-PhD .padding-content {
	padding: 5px 0;
}

#tab-master .padding-content {
	padding: 5px 0;
}

#tab-undergraduate .padding-content {
	padding: 5px 0;
}

.thesis-container {
	margin: 0 50px;

	@include respond(mobile) {
		margin: 0;
	}
}

.thesis-container .thesis-text-container {
	width: 100%;
	padding: 20px 10px;
	border-bottom: 1px solid #ccc;
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.thesis-container:last-child .thesis-text-container {
	border-bottom: none;
}

.thesis-container .thesis-text-container span {
	padding: 0;
	margin: 0;
}
